// ======================================================================= //
//   CONFIGURATION AND VARIABLES
//
//   Requires:
//   None
// ======================================================================= //


// ----------------------------------------------------------------------- //
//   LAYOUTS AND MEDIA QUERIES
// ----------------------------------------------------------------------- //

// These are the MINIMUM width values
$width-mobile-portrait:  320px
$width-mobile-landscape: 480px
$width-tablet:           600px
$width-widescreen:       800px
$width-maximum:         1200px

$container-gutter: 30px
$container-gutter-negative: -30px


// ----------------------------------------------------------------------- //
//   FONTS
// ----------------------------------------------------------------------- //

// Museo Sans weights via Typekit: 300, 900
$font_family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif


// ----------------------------------------------------------------------- //
//   COLORS
// ----------------------------------------------------------------------- //

$dark_font_color: #bbb
$light_font_color: #fff
