// ======================================================================= //
//   STANDARD AND CUSTOM MIXINS
//
//   Requires:
//   @import partials/base
// ======================================================================= //


// ----------------------------------------------------------------------- //
//   FLOAT FIXIN' MIXINS
// ----------------------------------------------------------------------- //

// Self-clear floats for competent web browsers. Also, IE7.
=group
  // Standard float clearing helper
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  // IE7 float clearing helper
  *:first-child+html &
    min-height: 1px


// ----------------------------------------------------------------------- //
//   MEDIA QUERIES FOR RESPONSIVE DESIGN
// ----------------------------------------------------------------------- //

// All $width- variables are defined in partials/base.
// Single media type: +respond_to(mobile)
// Multi media types: +respond_to((mobile, tablet))
=respond_to($media_types)

  @each $media in $media_types

    @if $media == mobile-portrait
      // 320px - 479px
      @media only screen and (min-width: $width-mobile-portrait) and (max-width: $width-mobile-landscape - 1)
        @content

    @else if $media == mobile
      // 320px - 599px
      @media only screen and (min-width: $width-mobile-portrait) and (max-width: $width-tablet - 1)
        @content

    @else if $media == tablet
      // 600px - 799px
      @media only screen and (min-width: $width-tablet) and (max-width: $width-widescreen - 1)
        @content

    @else if $media == widescreen
      // >= 800px
      @media only screen and (min-width: $width-widescreen)
        @content


// ----------------------------------------------------------------------- //
//   FONTS
// ----------------------------------------------------------------------- //

=font_styles($font_size, $line_height: '', $color: '', $font_weight: '')
  font-size: $font_size
  @if $line_height != ''
    line-height: $line_height
  @if $color != ''
    color: $color
  @if $font_weight != ''
    font-weight: $font_weight

=link_styles($color, $hover_color: '', $underline: false)
  &
    @if $underline == true
      text-decoration: underline
    @else
      text-decoration: none
    color: $color
  &:hover
    @if $hover_color != ''
      color: $hover_color
