// ======================================================================= //
//   SCREEN STYLES FOR ALL BROWSERS
//
//   Requires:
//   Imported throughout this file
// ======================================================================= //


// ----------------------------------------------------------------------- //
//   CSS RESET + SASS VARIABLES + UTILITIES
// ----------------------------------------------------------------------- //

@import partials/reset
@import partials/base
@import partials/utilities


// ----------------------------------------------------------------------- //
//   LAYOUTS
// ----------------------------------------------------------------------- //

body
  padding: 0
  margin: 0
  width: auto
  background-color: #151515
  font-family: $font_family
  font-weight: 300

#container
  padding: 19px 20px
  margin: 0 auto
  width: 400px


// ----------------------------------------------------------------------- //
//   HEADER
// ----------------------------------------------------------------------- //

header
  h1
    margin: 50px 0 70px 0
    +font_styles(144px, 120px, $light_font_color, 900)
    text-transform: uppercase
    text-shadow: 3px 3px #252525

    +respond_to(mobile-portrait)
      margin: 0 0 50px 0
      +font_styles(96px, 80px)


// ----------------------------------------------------------------------- //
//   MAIN
// ----------------------------------------------------------------------- //

section#main
  p
    margin-bottom: 16px
    +font_styles(18px, 24px, $dark_font_color)

    +respond_to(mobile-portrait)
      +font_styles(16px, 20px, $light_font_color)

    a
      border-bottom: #777 1px dotted
      +link_styles($dark_font_color, $light_font_color)

      +respond_to(mobile-portrait)
        +link_styles($light_font_color, $light_font_color)
