// ======================================================================= //
//   SCREEN STYLES FOR ALL BROWSERS
//
//   Requires:
//   Imported throughout this file
// ======================================================================= //


// ----------------------------------------------------------------------- //
//   CSS RESET + SASS VARIABLES + UTILITIES
// ----------------------------------------------------------------------- //

@import partials/reset
@import partials/base
@import partials/utilities


// ----------------------------------------------------------------------- //
//   LAYOUTS
// ----------------------------------------------------------------------- //

body
  padding: 0
  margin: 0
  width: auto
  background-color: #151515
  font-family: $font_family
  font-weight: 300

#container
  padding: 19px 20px
  margin: 0 auto
  width: 400px


// ----------------------------------------------------------------------- //
//   HEADER
// ----------------------------------------------------------------------- //

header
  h1
    margin: 50px 0 70px 0
    +font_styles(144px, 120px, $light_font_color, 900)
    text-transform: uppercase
    text-shadow: 3px 3px #252525


// ----------------------------------------------------------------------- //
//   MAIN
// ----------------------------------------------------------------------- //

section#main
  p
    margin-bottom: 16px
    +font_styles(18px, 24px, $dark_font_color)
    a
      border-bottom: #777 1px dotted
      text-decoration: none
      color: $dark_font_color
      &:hover, &:active
        color: $light_font_color


// ----------------------------------------------------------------------- //
//   MOBILE STYLES
// ----------------------------------------------------------------------- //

@media screen and (max-width: 480px)
  #container
    width: 280px

  header
    h1
      margin: 0 0 50px 0
      +font_styles(96px, 80px)

  section#main
    p
      +font_styles(16px, 20px, $light_font_color)
      a, a:hover, a:active
        color: $light_font_color
