html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

mark {
  color: inherit;
  background-color: transparent;
}

body {
  padding: 0;
  margin: 0;
  width: auto;
  background-color: #151515;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#container {
  padding: 19px 20px;
  margin: 0 auto;
  width: 400px;
}

header h1 {
  margin: 50px 0 70px 0;
  font-size: 144px;
  line-height: 120px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 3px 3px #252525;
}

section#main p {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 24px;
  color: #bbbbbb;
}
section#main p a {
  border-bottom: #777777 1px dotted;
}
section#main p a {
  text-decoration: none;
  color: #bbbbbb;
}
section#main p a:hover {
  color: white;
}

@media screen and (max-width: 480px) {
  #container {
    width: 280px;
  }

  header h1 {
    margin: 0 0 50px 0;
    font-size: 96px;
    line-height: 80px;
  }

  section#main p {
    font-size: 16px;
    line-height: 20px;
    color: white;
  }
  section#main p a {
    text-decoration: none;
    color: white;
  }
  section#main p a:hover {
    color: white;
  }
}
